<div class="row justify-content-center">
  <div class="col-md-4 register-order">
    <!-- form card register -->
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h3 class="mb-0">Edit Order</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label for="inputName">Name</label>
            <input class="form-control" type="text" formControlName="name">
            <div class="invalid-feedback" *ngIf="submitted && myForm.name.errors?.required">
              Name is required.
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3">Email</label>
            <input class="form-control" type="text" formControlName="email">
            <!-- error -->
            <div class="invalid-feedback" *ngIf="submitted && myForm.email.errors?.required">
              Enter your email.
            </div>
            <div class="invalid-feedback" *ngIf="submitted && myForm.email.errors?.pattern">
              Enter valid email.
            </div>
          </div>

          <div class="form-group">
            <label for="inputName">Address</label>
            <input class="form-control" type="text" formControlName="address">
            <div class="invalid-feedback" *ngIf="submitted && myForm.address.errors?.required">
              Address is required.
            </div>
          </div>

          <div class="form-group">
            <label for="inputName">Page Name</label>
            <input class="form-control" type="text" formControlName="pageName">
            <div class="invalid-feedback" *ngIf="submitted && myForm.pageName.errors?.required">
              page Name is required.
            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword3">Page Name</label>
            <select class="custom-select form-control" (change)="updateProfile($event.target.value)"
              formControlName="pageName">
              <option value="">Choose...</option>
              <option *ngFor="let orderProfile of OrderProfile" value="{{orderProfile}}">{{orderProfile}}
              </option>
            </select>
            <!-- error -->
            <div class="invalid-feedback" *ngIf="submitted && myForm.pageName.errors?.required">
              Choose page Name.
            </div>
          </div>
  


          <div class="form-group">
            <label for="inputVerify3">Mobile No</label>
            <input class="form-control" type="text" formControlName="phoneNumber"  >
            <!-- error -->
            <div class="invalid-feedback" *ngIf="submitted && myForm.phoneNumber.errors?.required">
              Enter your phone number.
            </div>
            <div class="invalid-feedback" *ngIf="submitted && myForm.phoneNumber.errors?.pattern">
              Enter Numbers Only
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" type="submit">Update</button>
          </div>
        </form>
      </div>
    </div><!-- form  -->
  </div>
</div>